@charset "utf-8";

.post-author{
    display: block;
}
nav.red-text,
.red.darken-4
{
    background-color: #8c1515 !important;
}
.red.darken-2,
.red.darken-3
{
    background-color:  #B1040E !important;
}
.red-text.text-darken-1,
{
    color: #B1040E !important;
}
.footer-copyright{
    background-color: #8c1515 !important;
}
h1,h2 {
    color:         #8d3c1e;
    font-weight: bold;
}
.post-content h1 {
    font-size: 2em;
}
.post-content h2 {
    font-size: 1.3em;
}
.post-content a {
    color: #0098db !important;
    text-decoration: underline !important;
}
.post-content .collection,
.post-content .collection .collection-item {
    border: 1px dashed #e9e9e9 !important;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.shadow-demo {
    background-color: #26a69a;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}
h1.page-title {
    font-weight: 500;
    font-size: 2.3em;
    text-align: center;
    color: #ffffff;
}
.col.grid-example {
//    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
//    background-color: tomato;
    color: white;
    padding: 0;
}
.collection-item.avatar {
    padding-right: 30px;
}
.last-post {
    padding: 10px 0 15px;
}
.collection-item.avatar>.date-post {
    position: absolute;
    width: 54px;
    height: 54px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    padding: 16px 0;
    vertical-align: middle;
    background: #ad1457;
    color: #fff;
    text-align: center;
}
.txt-center {
    text-align: center;
}
.post-header h1.post-title {
    color:             #8d3c1e;
    font-size: 2.8em;
    font-weight: 800;
}
.post-header time, .post-header location  {
    color: #333333;
    font-size: 1.3em;
    font-weight: bold;
}
p.rss-subscribe {
    margin: 0;
} 
.no-pad-bot {
    background: url('https://s3.amazonaws.com/health-ai/website/images/2018-10-18-kickoff/IMG_5146.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
    width: 100%;
    height: 100%;
    padding-top: 0;
}
.bg-color {
    background-color: RGBA(13, 13, 13, 0.7);
    min-height: 350px;
}
h3.projects {
    font-size: 15pt;
    font-weight: bold;
}
.affiliation{
    font-size: 0.8em;
}
.talk-title{
  font-weight: bold;
    font-size: 1.2em;
}
