---
layout: default
---

<div class="container">
    <div class="section">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="event-time">
          <location datetime="{{ page.date | date_to_xmlschema }}" itemprop="date">
            {% if page.building %}{{ page.building }} - {% endif %}{{ page.location }}
          </location> @
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="date">
            {% assign date_format = site.minima.date_format | default: "%a %I:%M %p %b %-d, %Y" %}
            <br />{{ page.date | date: date_format }} {% if page.date_day2 %}-
            {{ page.date_day2 | date: date_format }}
	    {% endif %}
          </time>
 	  {% if page.calendar %}
	  &nbsp;<a target="_blank" href="{{ page.calendar }}"><i class="fa" style="font-size: 28px">&#x1f4c5;</i></a>
	  {% endif %}
	</p>
      </header>

      <div class="post-content" itemprop="articleBody">
	{% if page.image %}
	<div class="row">
	  <div class="col s12 m8">
	{% endif %}
	{{ page.content }}
	
	{% if page.image or page.flyer %}
	  </div>
	  <div class="col s12 m4 center">
	    {% if page.image %}
	    <a href="{{ page.image.url }}"><img src="{{ page.image.url }}" width="100%"/></a>
	    <div style="text-align: center; font-size: 0.8em.">{{ page.image.caption }}</div>
	    {% endif %}
	    {% if page.flyer %}
	    <a href="{{ page.flyer.pdf }}"><img style="margin-top: 1em" src="{{ page.flyer.png }}" width="70%"/></a>
	    <div style="text-align: center; font-size: 0.8em.">{{ page.flyer.caption }}</div>
	    {% endif %}
	  </div>
	</div>
	{% endif %}

{% assign keynotes = page.talks | where:'keynote', 'true' %}

	
{% assign num_keynotes = keynotes | size %}
{% if num_keynotes != 0 %}
	<h2>Keynote speakers</h2>
{% endif %}
{% for person in keynotes  %}
{% assign loopindex = forloop.index0 | modulo: 3 %}
{% if loopindex == 0 or forloop.first %}
<div class="row">
{% endif %}
<div class="col s12 m4 center" style="margin-bottom: 1em;">
<a href="{{ person.link }}" class="post-author">
<img src="{{ person.image }}" class="avatar" style="width: 80%;" /><br />
   <span style="font-size: 1.25em">{{ person.speaker }}</span>
</a>
<span>{{ person.affiliation }}</span>
{% if person.blurb %}
<div style="padding-top: 0.3em; font-weight: bold">Abstract: {{ person.blurb }}</div>
{% else %}
<div style="padding-top: 0.3em; font-weight: bold">Abstract: TBA</div>
{% endif %}
</div>
{% if loopindex == 3 or forloop.last %}
</div>
{% endif %}
{% endfor %}


{% assign num_mentors = page.mentors | size %}
{% if num_mentors != 0 %}
<h2>Mentors</h2>
{% assign people = page.mentors %}
{% include people.html %}
{% endif %}

{% assign talks = page.talks | where_exp:"talk","talk.day!='2'"  %}
{% assign talks2 = page.talks | where_exp:"talk","talk.day=='2'" %}

<h2>Agenda</h2>
{% if talks2[0] %}
<div class="row">
<div class="col s12 m6">
  <h3>Day 1</h3>
{% endif %}
<ul class="collection">
  {% for talk in talks  %}
  <li class="collection-item avatar" style="background: #ffffff">
    <div class="date-post red darken-2">{{ talk.time }}</div>
    <p class="talk-title">{{ talk.title }}</p>
    <span class="title bold">{{ talk.speaker }}
      {% if talk.website %}&nbsp;<a href="{{ talk.website }}"><i class="fa">&#xf015;</i></a>{% endif %}
      {% if talk.linkedin %}&nbsp;<a href="{{ talk.linkedin }}"><i class="fa">&#xf0e1;</i></a>{% endif %}
      {% if talk.twitter %}&nbsp;<a href="{{ talk.twitter }}"><i class="fa">&#xf173;</i></a>{% endif %}
    </span>
    <p class="affiliation">{{ talk.affiliation }}</p>
  </li>
  {% endfor %}
</ul>
{% if talks2[0] %}
</div>
<div class="col s12 m6">
  <h3>Day 2</h3>
<ul class="collection">
  {% for talk in talks2  %}
  <li class="collection-item avatar" style="background: #ffffff">
    <div class="date-post red darken-2">{{ talk.time }}</div>
    <p class="talk-title">{{ talk.title }}</p>
    <span class="title bold">{{ talk.speaker }}
      {% if talk.website %}&nbsp;<a href="{{ talk.website }}"><i class="fa">&#xf015;</i></a>{% endif %}
      {% if talk.linkedin %}&nbsp;<a href="{{ talk.linkedin }}"><i class="fa">&#xf0e1;</i></a>{% endif %}
      {% if talk.twitter %}&nbsp;<a href="{{ talk.twitter }}"><i class="fa">&#xf173;</i></a>{% endif %}
    </span>
    <p class="affiliation">{{ talk.affiliation }}</p>
  </li>
  {% endfor %}
</ul>
</div>
</div>
{% endif %}

	<!--h2>Partners</h2-->
This hackathon is supported by: {% for sponsor in page.sponsors %}
{{ sponsor.name }}, 
{% endfor %}

	<h2>Where is {{ page.building }}?</h2>

	<iframe src="{{ page.map }}" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	This event will be held in <strong>{{ page.building }}</strong> (location above), in the room <strong>{{ page.location }}</strong>.
	<h2>Other events</h2>
	If you are interested in pitching a problem / dataset / algorithm at one of the upcoming events, please fill in <a href="https://goo.gl/forms/6IrusepoiZeOMhj93">this short form</a>.


	
	<h2>Organizers</h2>
{% assign subpage = site.pages | where: 'title', 'Team' %}
{% for person in subpage[0].coreteam %}
{% assign loopindex = forloop.index0 | modulo: 4 %}
{% if loopindex == 0 or forloop.first %}
<div class="row" style="position: relative">
{% endif %}
<div class="col s12 m3 center" style="margin-bottom: 1em;">
{% if person.github %}
<a href="https://github.com/{{ person.github }}" class="post-author">
   {{ person.name }}
</a>
{% else %}
<a href="{{ person.link }}" class="post-author">
<img src="{{ person.image }}" class="avatar" style="width: 40%;" /><br />
   {{ person.name }}
</a>
{% endif %}
<span>{{ person.task }}</span>
</div>
{% if loopindex == 3 or forloop.last %}
</div>
{% endif %}
{% endfor %}

      </div>

      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
    </div>
</div>
<script>$('.carousel.carousel-slider').carousel({fullWidth: true});</script>
